/* Navigation */

nav {
  background-color: #55644D;
  display: flex;
  align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 55%;

}

nav img {
  display: flex;
  justify-content: flex-start;
}

nav li
{
    margin-right: 25px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #white;
    border-bottom: 3px solid #white;
}
