.menuOne {
  background-color: white;

}

.menuOne p {
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.menuOne img {
  width: 535px;
}

.conteneurOne {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
