.menuTwo {
  background-color: #F5F5F5;
}

.menuTwo img {
  width: 320px;
  height: 250px;
}

.MenuTwoBgOne {
  width: 32.5%;
  background-color: #77B648;
}

.MenuTwoBgTwo {
  width: 32.5%;
  background-color: #77B648;
}

.MenuTwoBgThree {
  width: 32.5%;
  background-color: #77B648;
}

.conteneurTwo {
  display: flex;
  justify-content: space-between;
  background-color: #4D4D4D;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
}
