.menuThree {
  background-color: white;
}

.pMenuThree {
  background-color: #F5F5F5;
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

.colorThunder {
  background-color: #4D4D4D;
  color: white;
}

.conteneurThreeOne {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.conteneurThreeThree {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.profilOne {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.profilTwo {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.profilThree {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.profilFour {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.sectionThreePhotoOne {
  background-color: #F5F5F5;
  padding-right: 2%;
}

.sectionThreePhotoTwo {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.sectionThreePhotoThree {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.sectionThreePhotoFour {
  background-color: #F5F5F5;
  padding-left: 2%;
  padding-right: 2%;
}

.conteneurThreeTwo {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.sectionThreeTwoProfil {
  width: 20%;
  background-color: #F5F5F5;
}

.SectionThreeTestimoni {
  width: 72%;
  background-color: #F5F5F5;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SectionThreeTestimoni p {
  padding-left: 2%;
  padding-right: 2%;
}

.portraitProfil {
  border-radius: 50%;
}
