.menuFour {
  background-color: white;
}

.menuFour h2 {
  background-color: #77B648;
  color: white;
}

.menuFour i {
  color: white;
}

/* .menuFour li {
  display: inline-block;
  list-style: none;
  padding-right: 5%;
  margin-left: 20%;
  float: right;
  padding-bottom: 100px;
}

.menuFour li:first-child {
  float: left;
  margin-left: -3%;
} */

.adresse {
  padding-left: 5%;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.formulaire {
  padding-right: 5%;
  width: 65%;
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: center;
}

.formulaire label {
  width: 150px;
}



