.menuThree {
  background-color: white;
}

.pMenuThree {
  background-color: #F5F5F5;
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.colorThunder {
  background-color: #4D4D4D;
  color: white;
}

.conteneurThreeOne {
  display: flex;
  justify-content: space-around;
}

