@import url(header.css);
@import url(menuOne.css);
@import url(menuTwo.css);
@import url(menuThree.css);
@import url(menuFour.css);
@import url(footer.css);

.container {
  background-color: white;
  width: 90%;
  margin: auto;
}

.padded {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}

h2 {
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}


